<!DOCTYPE html>
<html>
    <head>
        <title>Калькулятор бюджета</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>>
    </head>
    <body>
        <form method="POST" action="/budget">
            <input type="number" name="income"/>
            <input type="number" name="cost"/>
            <input type="date" name="start_date"/>
            <input type="date" name="final_date"/>
            <input type="submit" value="Рассчитать"/>
        </form>
    </body>
</html>